@{
    ViewData["Title"] = "About Page";
}

<style>
    p {
        text-align:left;
        font-size: 15px;
        color:lightcoral
}
</style>

<div class="text-center" style="background-color:#4682B4; border: solid black"><h1>About Us</h1>

    <p>Rudra Patel: Founder as well as CEO of RUDRA RUG COMPANY. He always encourages himself in difficult time.</p>
    <p>Pinesh Patel: Managing Director of company and handles all the business deals of the company.</p>
    <p>Hetal Patel: Head of the administration of the company, mainly she focuses on how the company will get more sales everyday.</p>
</div>
<style>
p {
   color: Yellow;
  }
div {
    background-color: #B0E0E6;
    }
</style>

