@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="background-color:#4682B4; border: solid black">Rudra's Rug Company</h1>
    <p>Make your house more better by using our rugs.</p>

    <div style="border: solid black">
    <img style=" height: 350px; width: 350px; padding:5px;" src="https://cdn.pixabay.com/photo/2014/04/05/11/40/rhodes-316645_1280.jpg" />
    <img style=" height: 350px; width: 350px; padding: 5px;" src="https://i.ebayimg.com/images/g/z2wAAOSwAqhgKcB6/s-l400.jpg" />
    <img style=" height: 350px; width: 350px; padding: 5px;" src="https://upload.wikimedia.org/wikipedia/commons/3/35/Gendje-rug.jpg" />
    <img style=" height: 350px; width: 350px; padding: 5px;" src="https://i5.walmartimages.com/asr/ecc648b7-0003-4449-88eb-ad22f6d3b954.1556070c131009f26f936796f56cbe2d.jpeg?odnHeight=450&odnWidth=450&odnBg=ffffff" />
    <img style=" height: 350px; width: 350px; padding: 5px;" src="https://cb.scene7.com/is/image/Crate/RiescoRug6x9SHS19/$web_pdp_main_carousel_zoom_med$/190411135402/riesco-mid-century-modern-rug.jpg" />
    <img style=" height: 350px; width: 350px; padding: 5px;" src="https://decoratedlife.com/wp-content/uploads/2021/02/8-Pink-Modern-Abstract-Area-Rug.jpeg" />

</div>
</div>

<style>
 p {
    color: Yellow;
   }
div {
    background-color: #B0E0E6;
}
</style>