@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center" style="background-color:#4682B4; border: solid black">
    <h1>Privacy</h1>

    <p>Company's privacy policy</p>

</div>
<style>
    p {
        color: Yellow;
    }

    div {
        background-color: #B0E0E6;
    }
</style>
