/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-family: 'Comic Sans MS';
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
    font-family: 'Comic Sans MS';
}

p {
    font-family:'Comic Sans MS';
    font-size:20px;
    font-weight: bold;
    color: blue;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    font-family: 'Comic Sans MS';
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    font-family: 'Comic Sans MS';
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    font-family: 'Comic Sans MS';
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
        font-family: 'Comic Sans MS';
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
    font-family: 'Comic Sans MS';
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
    font-family: 'Comic Sans MS';
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    font-family: 'Comic Sans MS';
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
    font-family: 'Comic Sans MS';
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    font-family: 'Comic Sans MS';
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Comic Sans MS';
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    font-family: 'Comic Sans MS';
    line-height: 60px; /* Vertically center the text there */
}
